@import './../colors';

.registerLoginPage {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  padding: 0 2rem;
}

.content {
  flex: 1;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 ~ p:first-of-type {
    margin: 4px 0 0;
  }
}

.content form {
  padding: 2rem;
  margin: 2rem;
  background: $light-gray;
  border-radius: 2px;
  width: 70vw;
  max-width: 400px;
  div {
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-size: .9rem;
      margin: .5rem;
    }
  }
  button {
    margin: 1rem 0 0;
  }
}