@import './../../styles/colors';

button.otherButton {
  color: $black;
  background-color: $off-white;
  border: none;
  padding: .65rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: .05rem;
  font-size: .75rem;
}
