button.otherButton {
  color: #ffffff;
  background-color: var(--colors-green);
  border: none;
  padding: .65rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: .05rem;
  font-size: .75rem;
}

button.otherSecondaryButton {
  background-color: #ffffff;
  color: var(--colors-green);
  border: var(--colors-green) 1px solid;
  padding: .65rem 1rem;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: .05rem;
  font-size: .75rem;
}
