.searchItem {
  scroll-snap-align: start;
  position: relative;
  width: 275px;
  height: 206px;
}

a.itemLink {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--colors-green2);
  border-radius: 2px;
  box-sizing: border-box;
}
h4.itemTitle {
  text-transform: lowercase;
  height: 58px;
  overflow: hidden;
}

div.itemImage img, div.itemImage div.imagePlaceholder {
  object-fit: cover;
  object-position: center;
  height: 100px;
  width: 100px;
  display: block;
  background-color: var(--colors-light-gray);
}

.searchItem div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.searchItem div:last-of-type span.meta {
  text-transform: lowercase;
  color: var(--colors-olive);
  font-size: .825rem;
  align-self: flex-end;
}