@import './../../styles/colors';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem 2rem;
  p {
    margin: 0 0 .825rem;
  }
  ul {
    padding: 1rem 0 0;
    h3 {
      margin: 16px 0 8px;
    }
  }
}

.wants {
  h2 {
    margin: 0 0 .5rem;
  }
  ul li.header {
    display: grid;
    grid-template-columns: 1fr 2fr 80px 1fr;
    font-size: 0.825rem;
    opacity: 0.825;
    .notes {
      padding: 0 16px;
    }
  }
}

#accountSettings form div {
  margin: 1rem 0;
  border-left: 2px solid $green2;
  padding: 0 0 0 .5rem;
}

#discogsSync p {
  margin: 0 0 .5rem;
}

#discogsSync b {
  color: $olive;
}