@import 'colors';

input[type="text"], input[type="email"], input[type="password"] {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  &:disabled {
    background: transparent;
  }
}

label {
  font-size: .825rem;
  color: $olive;
  input[type="text"], input[type="email"], input[type="password"] {
    padding: .5rem 0rem;
    opacity: 1;
    color: $black;
    outline: transparent;
  }
}

