input[type="text"], input[type="email"], input[type="password"] {
  color: var(--colors-black);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
}

input:disabled {
  background: transparent;
}

label {
  font-size: .825rem;
  color: var(--colors-olive);
  input[type="text"], input[type="email"], input[type="password"] {
    padding: .5rem 0rem;
    opacity: 1;
    color: var(--colors-black);
    outline: none;
  }
}

form div {
  margin: 1rem 0;
  color: var(--colors-green2);
  padding: 0 0 0 .5rem;
}