a {
  cursor: pointer;
  transition: opacity .2s;
  &:hover { 
    opacity: .75;
  }
}

h1 {
  font-weight: 400;
}

h3 {
  margin: 0 0 .5rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.underline {
  text-decoration: underline;
}

.number {
  font-family: "Numbers Claimcheck A", "Numbers Claimcheck B";
}