@import './../../styles/colors';

.searchItem {
  scroll-snap-align: start;
  position: relative;
  width: 275px;
  padding: 0 0 75%;
  a {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border: 1px solid $green2;
    border-radius: 2px;
    box-sizing: border-box;
  }
  h4 {
    text-transform: lowercase;
  }
  div:last-of-type {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    span {
      text-transform: lowercase;
      color: $olive;
      font-size: .825rem;
      align-self: flex-end;
    }
  }
  div img {
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100px;
  }
}