@import './../../../styles/colors';

input.otherSearch {
  border: 2px solid $light-gray;
  border-radius: 4px;
  font-size: 1rem;
  outline-color: adjust-color($color: $light-gray, $lightness: -2%);
  font-family: inherit;
  outline: none;
}
