DB=mongodb://X.X.X.X:27017/dbname?authSource=admin
DB_USER=XXXXXX
DB_PASS=XXXXXX
DB_NAME=XXXXXX
DB_AUTH=mongodb://user:pass@localhost:27017

CLIENT_URL=http://localhost:5000
API_URL=http://localhost:5001
SESSION_SECRET=XXXXXX
DISCOGS_KEY=XXXXXX
DISCOGS_SECRET=XXXXXX
AUTH_CALLBACK_URL=XXXXXX
AMAZON_KEY_ID=XXXXXX
AMAZON_SECRET=XXXXXX
TWILIO_ACCOUNTSID=XXXXXX
TWILIO_AUTH_TOKEN=XXXXXX
TWILIO_FROM=+XXXXXX
TWILIO_RECOVERY=XXXXXX
MAILGUN_URL=XXXXXX.mailgun.org
MAILGUN_API=XXXXXX-4de08e90-068fdbbb
JWT_ACC_ACTIVATE=XXXXXX
RESET_PASSWORD=XXXXXX

EBAY_TOKEN=XXXXXX